<!-- Rev 145 -->
<f:layout name="Default" />
<f:section name="main">

<f:flashMessages renderMode="div" />

<f:render partial="Project/Properties" arguments="{project:project}" />

<div class="tx-bc-voting ballots" style="border-top: 1px solid black">
	<f:if condition="{project.start} > {date_now}">
		<f:then>
		    <b>Voting period has not yet started!</b>
		</f:then>
		<f:else>
			<f:if condition="{project.end} > {date_now}">
				<f:then>
					<f:render partial="Project/Ballots" arguments="{project:project}" />
				</f:then>
				<f:else>
					<b>Voting period has end!</b>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</div>

<div class="tx-bc-voting">
	<hr /><h4>Wahlmodus</h4>
	<f:if condition="{project.anonym}">
	<f:then>
	<b>Anonym:</b> es dürfen keine Benutzerkonten verwendet werden, 
	die außer dem Benutzernamen z.B. Klar-Namen, Anschrift, Geburtsdatum etc. enthalten. 
	Als E-Mail-Adresse sollte eine anonyme Einmal-Adresse verwendet werden.
	<br />
	<b>Geheim:</b> vor dem Benutzen des Online-Stimmzettels bestätigen Sie, dass Sie allein 
	vor dem Wahlgerät sind und niemand Einsicht bei Ihrer Wahlentscheidung hat.
	</f:then>
	</f:if>

	<br />
	<f:if condition="{project.open}">
	<f:then>
	<b>Offen:</b>jeder registrierte Benutzer kann teilnehmen.
	</f:then>
	<f:else>
	<b>Geschlossen:</b> nur wahlberechtigte Benutzer können teilnehmen. 
	Sie erhalten vom Wahlamt die nötigen Unterlagen*, 
	um die Wahlberechtigung für diese Wahl Ihrem Account hinzuzufügen.
	</f:else>
	</f:if>
	<br />
	<b>Weitere Informationen:</b> klicken Sie auf den nachfolgenden Link, 
	um zur offiziellen Website zu gelangen, die Ihnen Informationen zum Wahlgesetz, 
	Kontaktinformationen zum Wahlleiter und zum Wahlamt bietet. 
	<blockquote><a href="{project.infosite}" target="_blank">Info-Site</a></blockquote>
</div>
<div class="tx-bc-voting">
	<f:security.ifAuthenticated>
		<f:then>
			<f:if condition="{isAssigned} == 'true'">
				<f:then>
				</f:then>
				<f:else>
					<hr />
					You're not assigned!
				</f:else>
			</f:if>
		</f:then>
		<f:else>	
			<hr />	
			You're not logged in! Please <f:link.page pageUid="41">Login</f:link.page> or <f:link.page pageUid="40">Register</f:link.page>.
		</f:else>
	</f:security.ifAuthenticated>	
	
	<f:if condition="{bcResult}">
		<hr />
		<f:if condition="{project.reference}">
			<h4>Wahlsiegel Transaktionsnummer</h4>
			<a target="_blank" href="{bcResult.nodeaddress}/{bcResult.chainname}/tx/{project.reference}">{project.reference}</a>
		</f:if>
	</f:if>	
</div>

</f:section>