<f:layout name="Default" />
Rev. 138
<f:section name="main">

<f:flashMessages renderMode="div" />

<div style="min-height:500px; background-color: white; padding: 10px; border: 1px solid red;">


<f:form action="create" controller="Voting" name="newVoting" arguments="{ballot:ballot}">

<f:form.hidden property="project" value="{ballot.project}" />

	<div id="logo"><h1><f:if condition="{ballot.logo} != 0"><f:image image="{ballot.logo}" alt="{ballot.logo.originalResource.title}" style="max-width: 100%; height: auto; padding:20px;" /></f:if> {project.name}</h1></div>
	 
	<div id="law"><f:render partial="Ballot/LawDraft" arguments="{ballot:ballot,assigned:assigned,user:user}" /></div>
	
	<div id="options"><f:render partial="Ballot/Options" arguments="{ballot:ballot,isAssigned:isAssigned,isAdmin:isAdmin}" /></div>
	
	<div id="footer"><f:render partial="Ballot/Footer" arguments="{ballot:ballot,isAssigned:isAssigned}" /></div>

	<f:if condition="{isAssigned} == 'true'">
	<f:then>
		<div style="text-align:center; font-size:2em;">
			<f:form.submit name="check" value="Check ballot!" style="background-color:red; color:white;" />			
			<f:form.submit name="send" value="Send ballot!" style="background-color:darkgreen; color:white;" />
		</div>

	</f:then>
	<f:else>
		<div id="hint" style="text-align:center; font-size:1em;">You can scan the QR-code with your election app to vote (recommended) or <f:link.page pageUid="41">log in</f:link.page> to vote with your browser (not recommended). See <f:link.page pageUid="93">help</f:link.page>.</div>
		<div style="text-align:center; font-size:1em;" id="qr">
			<label for"LoginWithQrCode">
				<span><a>Register and assign with QR-Code</a></span>
				<input type="file" accept="image/*;capture=camera" name="Schnappschuss" style="display:none;">
			</label>		
		</div>
	</f:else>
	</f:if>
	
</f:form>

</div>
</f:section>