<f:layout name="Default" />
Rev. 138
<f:section name="main">

<f:flashMessages renderMode="div" />

<div style="min-height:500px; background-color: white; padding: 10px; border: 1px solid red;">
<f:form action="vote" controller="Ballot" object="voting" arguments="{ballot:ballot}">
<f:form.hidden name="project" value="{ballot.project}" />

	<div id="logo"><h1><f:if condition="{ballot.logo} != 0"><f:image image="{ballot.logo}" alt="{ballot.logo.originalResource.title}" style="max-width: 100%; height: auto; padding:20px;" /></f:if> {project.name}</h1></div>
	 
	<div id="law"><f:render partial="Ballot/LawDraft" arguments="{ballot:ballot,assigned:assigned,user:user}" /></div>
	
	<div id="options"><f:render partial="Ballot/Options" arguments="{ballot:ballot,isAssigned:isAssigned,isAdmin:isAdmin}" /></div>
	
	<div id="footer"><f:render partial="Ballot/Footer" arguments="{ballot:ballot,isAssigned:isAssigned}" /></div>

	<f:if condition="{isAssigned} == 'true'">
	<f:then>
		<div style="text-align:center; font-size:2em;"><f:form.submit value="Send ballot!" style="background-color:white" /></div>
	</f:then>
	<f:else>
		<div id="hint" style="text-align:center; font-size:0.8em;">You can scan the QR-code with your election app to vote (recommended) or <f:link.page pageUid="41">log in</f:link.page> to vote with your browser (not recommended). See <f:link.page pageUid="93">help</f:link.page>.</div>
		<div id ="register" style="text-align:left;"><f:link.page pageUid="40">Register</f:link.page></div>
		<div id ="assign" style="text-align:left;"><f:link.action action="assign" controller="Project" arguments="{project:ballot.project}">Assign</f:link.action></div>
	</f:else>
	</f:if>
	
</f:form>

</div>
</f:section>