<!-- Revision 114 -->
<f:layout name="Default" />
<f:section name="main">
<f:render partial="Project/Menu" arguments="{project : project, isAdmin:isAdmin}" />
<f:flashMessages  />

<f:form action="delete" name="user" arguments="{project:project, user:user.uid}">
	<fieldset>
		<legend>Möchten Sie wirklich diesen Benutzer vollständig löschen?</legend>
		<dl>
		{user.username}<br />
			<f:form.hidden name="process" value="true" />
			
			<f:form.submit value="Confirm" />
		</dl>
	</fieldset>
</f:form>
</f:section>