<!-- Revision 114 -->
<f:layout name="Default" />
<f:section name="main">
<f:render partial="Project/Menu" arguments="{project : project, isAdmin:isAdmin}" />

<f:flashMessages renderMode="div" />

<f:render partial="FormErrors" arguments="{object:User}" />

<f:form action="update" name="user" object="{user}" >
	<fieldset>
		<legend>Möchten Sie wirklich diesen Benutzer vollständig löschen?</legend>
		<dl>
			<p class="tx-srfeuserregister-pi1-notice">* required fields</p>
			<f:form.hidden name="process" value="true" />
			<f:form.submit value="Save" />
		</dl>
	</fieldset>
</f:form>
</f:section>>
