<!-- Rev.123 -->

	<f:link.action action="edit" controller="Project" arguments="{project:project}">Edit Project</f:link.action> |
	<f:link.action action="settings" controller="Project" arguments="{project:project}">Settings</f:link.action> |
	<f:link.action action="list" controller="Ballot" arguments="{project:project}">Ballots</f:link.action> |
	<f:link.action action="editbcparams" controller="Project" arguments="{project:project}">Blockchain</f:link.action> |
	<f:link.action action="list" controller="User" arguments="{project:project}">Members</f:link.action> |
	<f:link.action action="execute" controller="Project" arguments="{project:project}">Process</f:link.action>
