<!-- Rev 123 -->

<div class="tx-bc-voting_Menu">
	<f:render partial="VoterMenu" arguments="{project : project, isAssigned: isAssigned, isAdmin: isAdmin, feuser: feuser}" />
		
	<f:if condition="{isAdmin} == 'true'">
		| <f:render partial="AdminMenu" arguments="{project : project, isAssigned: isAssigned, isAdmin: isAdmin, feuser: feuser}" />
	</f:if>
		
	<div id="feuser"><f:link.action action="show" controller="User" arguments="{user:feuser}">{feuser.username}</f:link.action></div>

</div>

<div class="tx-bc-voting_SubMenu">
</div>
