<f:layout name="Default" />
Rev. 132
<f:section name="main">

<f:render partial="Project/Menu" arguments="{project:project}" />
<f:flashMessages renderMode="div" />

<f:render partial="FormErrors" arguments="{object:Project}" />

<h3>{project.name}</h3>

<div width="100%" class="tx-bc-voting">
	<f:form action="update" name="project" object="{project}">
		<div style="border: 0px solid black; margin:0;" class="tx-bc-voting_inner">
			<f:render partial="Project/BlockchainParams" arguments="{action : 'update', project : project}" />
			<f:form.submit value="Save" />
		</div>

		<div class="tx-bc-voting_inner">
			<h4>Wallet Address:</h4>
			<f:form.textfield property="walletAddress" size="50" readonly="1" disabled="1" placeholder="automatic" />
		</div>
	</f:form>
	[Test Settings]
</div>


<f:link.action action="list" controller="Project" arguments="{project:project}">Back to list</f:link.action> |
<f:link.action action="show" controller="Project" arguments="{project:project}">Show</f:link.action>

</f:section>