<f:layout name="Default" />
Rev. 109
<f:section name="main">
<f:translate key="tx_bcvoting_edit_project" />: Blockchain
<f:render partial="Project/Menu" arguments="{project:project}" />
<f:flashMessages renderMode="div" />
<h4>{project.name}</h4>
<f:render partial="FormErrors" arguments="{object:Project}" />

<f:if condition="{isAdmin} == 'true'">
	<div width="100%">
		<f:form action="update" name="project" object="{project}">
		<div class="tx-bc-voting_inner">
			<h4>Wallet Address:</h4>
			<f:form.textfield property="walletAddress" size="64" />
		</div>
		<div style="border: 0px solid black; margin:0;" class="tx-bc-voting_inner">
			<f:render partial="Project/BlockchainParams" arguments="{action : 'update', project : project}" />
			<f:form.submit value="Save" /><f:form.submit value="Test" />
		</div>
		<div style="border: 0px solid black; margin:0;" class="tx-bc-voting_inner">
			<f:if condition="{blockchain}">
				<f:render partial="Blockchain/Parameter" arguments="{action : 'update', project : project, blockchain: blockchain}" />	
			</f:if>
		</div>
		</f:form>
	</div>
</f:if>

<f:link.action action="list" controller="Project" arguments="{project:project}">Back to list</f:link.action> |
<f:link.action action="show" controller="Project" arguments="{project:project}">Show</f:link.action>

</f:section>