<f:layout name="Default" />
Rev. 105
<f:section name="main">
<f:debug>{result}</f:debug>
<f:render partial="Project/Menu" arguments="{project : project, isAssigned: isAssigned, isAdmin: isAdmin}" />

<f:flashMessages renderMode="div" />
<f:render partial="FormErrors" arguments="{object:Project}" />
<h3><f:translate key="tx_bcvoting_execute" /></h3>
<f:form name="execute" action="execute" method="post" controller="Project" arguments="{project:project}" class="tx-bcvoting">
<label for="password"><f:translate key="password" /></label> <br />
	<f:form.textfield name="password" value="" />
	<f:form.submit value="Execute Votings" />
</f:form>

</f:section>