<!-- Rev 121 -->
<f:layout name="Default" />
<f:section name="main">

<f:flashMessages  />
<f:debug title="Raw data">{data}</f:debug>
<f:debug title="New project">{project}</f:debug>

<f:form action="import" name="project" class="tx-bcvoting">
	<f:translate key="tx_bcvoting_domain_model_project.reference" /><br />
	<f:form.textfield name="reference" size="80"  value="{reference}"/><br /> 
	RPC-Server:<br />
	<f:form.textfield name="rpcServer" value="{rpc_server}"/><br /> 
	RPC-Port:<br />
	<f:form.textfield name="rpcPort" value="{rpc_port}"/><br /> 
	RPC-User:<br />
	<f:form.textfield name="rpcUser" value="{rpc_user}" /><br /> 
	RPC-Password:<br />
	<f:form.textfield name="rpcPassword"  value="{rpc_password}" size="80" /><br />
	Project-Password:<br />
	<f:form.textfield name="password" type="password" /><br /> 
	<f:form.submit value="{f:translate(key:'import')}" /> 
</f:form>

</f:section>