<!-- Rev 118 -->
<f:layout name="Default" />
<f:section name="main">

<f:render partial="Menu" arguments="{project : project, isAssigned:isAssigned, isAdmin:isAdmin, feuser: feuser}" />
<f:flashMessages renderMode="div" />
<h2>{project.name}</h2>
<f:form action="import" name="project" class="tx-bcvoting">
	<f:translate key="tx_bcvoting_domain_model_project.reference" /><br />
	<f:form.textfield name="reference" size="80"  value="{reference]"/><br /> 
	RPC-Server:<br />
	<f:form.textfield name="rpcServer" value="{rpc_server}"/><br /> 
	RPC-Port:<br />
	<f:form.textfield name="rpcPort" value="{rpc_port}"/><br /> 
	RPC-User:<br />
	<f:form.textfield name="rpcUser" value="{rpc_user}" /><br /> 
	RPC-Password:<br />
	<f:form.textfield name="rpcPassword"  value="{rpc_password}" size="80" /><br />
	Project-Password:<br />
	<f:form.textfield name="password" type="password" /><br /> 
	<f:form.submit value="{f:translate(key:'import')}" /> 
</f:form>

</f:section>