<!-- Rev 150 -->
<f:layout name="Default" />
<f:section name="main">
<div class="tx-bc-voting">
<f:flashMessages  />

<f:form action="import" name="project" class="tx-bcvoting">
	<f:form.submit value="{f:translate(key:'import')}" /> <hr />
	<f:translate key="tx_bcvoting_domain_model_project.reference" /><br />
	<f:form.textfield name="reference" size="80"  value="{reference}"/>

	<f:form.select name="streamitems" prependOptionLabel="{f:translate(key: 'select')}">
		<f:for each="{streams}" as="stream">
			<option onclick="javascript:window.confirm('Import {stream.name}?')">{stream.name}</option>
		</f:for>
	</f:form.select>
	<hr />
	RPC-Server:<br />
	<f:form.textfield name="rpcServer" value="{rpc_server}"/><br /> 
	RPC-Port:<br />
	<f:form.textfield name="rpcPort" value="{rpc_port}"/><br /> 
	RPC-User:<br />
	<f:form.textfield name="rpcUser" value="{rpc_user}" /><br /> 
	RPC-Password:<br />
	<f:form.textfield name="rpcPassword" type="password" value="{rpc_password}" size="80" /><br />
	Project-Password:<br />
	<f:form.textfield name="password" type="password" /><br /> 
	
</f:form>
</div>
</f:section>