<f:layout name="Default" />
Rev. 131
<f:section name="main">

<f:flashMessages renderMode="div" />

<f:for each="{projects}" as="project">
	<f:cycle values="{0: 'whitesmoke', 1: '#fff'}" as="color">
		<div style="background-color: {color}">
			<div><f:link.action action="edit" arguments="{project: project}" title="{project.description}">{project.name}</f:link.action></div>
			<div><f:format.date format="d.m.Y">{project.start}</f:format.date> - <f:format.date format="d.m.Y">{project.end}</f:format.date></div>
		</div>
	</f:cycle>
</f:for>
<hr />
<f:link.action action="new" controller="Project" arguments="{isAdmin:isAdmin, project:newProject}">
	<f:translate key="create_new" />
</f:link.action> | 
<f:link.action action="import" controller="Project" arguments="{isAdmin:isAdmin, project:newProject}">
	<f:translate key="import" />
</f:link.action>
</f:section>