<f:layout name="Default" />
Rev. 107
<f:section name="main">
<f:render partial="Menu" arguments="{project : project}" />
<f:flashMessages renderMode="div" />
<f:render partial="FormErrors" arguments="{object:Project}" />
<h3>New Project</h3>
<f:form action="create"  name="newProject" object="{newProject}">
<f:render partial="Project/FormFields" />
	<f:form.submit value="Next" />
</f:form>
<br /><f:link.action action="list" controller="Project" arguments="{project:project}">Back to list</f:link.action>
</f:section>