<f:layout name="Default" />
Rev. 131
<f:section name="main">
<f:render partial="Project/Menu" arguments="{project : project, isAdmin : isAdmin, isAssigned : isAssigned}" />
<f:flashMessages renderMode="div" />
<h4>Settings - {project.name}</h4>

<f:render partial="FormErrors" arguments="{object:Project}" />

<f:form action="update" name="project" object="{project}" >
	<f:render partial="Project/Links" arguments="{action : 'update', project : project}" />
	<f:render partial="Project/Settings" arguments="{action : 'update', project : project, categories: categories}" />
	<f:form.submit value="{f:translate(key:'save')}" /><br />
</f:form>
</f:section>