<!-- Rev. 150 -->
<h2>{project.name}</h2>
<div style="width:100%; margin: 10px 0px; display: inline-block;">
	<hr />
	<div>
		<label for="maxVoters">Max. Voters</label> / <label for="priceVtc">VTC</label><br />
		 <f:form.textfield name="maxVoters" size="7" placeholder="50" style="text-align:right;" /> 
		 <f:form.textfield name="price" size="15" disabled="1" value="{priceVtc}" style="text-align:right;" /><br />
		 <br />
		 Deposit: 
	</div>
	<div style="float:clear; height:1px; width:100%;">&nbsp;</div>
</div>
