
<div class="tx-bc-voting_Menu">
	<f:link.action action="edit" controller="Project" arguments="{project:project}">Basic</f:link.action> |
	<f:link.action action="editbcparams" controller="Project" arguments="{project:project}">Blockchain</f:link.action> |
	<f:link.action action="list" controller="Option" arguments="{project:project}">Options</f:link.action> |
	<f:link.action action="list" controller="User" arguments="{project:project}">Members</f:link.action> |
	<f:link.action action="show" controller="Project" arguments="{project:project}">Show</f:link.action>
</div>