<h2>Blockchain Parameter</h2>
<table>
	<tr>
		<th><label for="version">Version</label></th>
		<td>{blockchain.version}</td>
	</tr>
	<tr>
		<th><label for="protocolversion">Protokoll Version</label></th>
		<td>{blockchain.protocolversion}</td>
	</tr>
	<tr>
		<th><label for="chainname">Chainname</label></th>
		<td>{blockchain.chainname}</td>
	</tr>
	<tr>
		<th><label for="description">Description</label></th>
		<td>{blockchain.description}</td>
	</tr>
	<tr>
		<th><label for="protocol">Protokoll</label></th>
		<td>{blockchain.protocol}</td>
	</tr>
	<tr>
		<th><label for=""port">Port</label></th>
		<td>{blockchain.port}</td>
	</tr>
	<tr>
		<th><label for="setupblocks">Setupblocks</label></th>
		<td>{blockchain.setupblocks}</td>
	</tr>
	<tr>
		<th><label for="nodeaddress">Nodeaddress</label></th>
		<td>{blockchain.nodeaddress}</td>
	</tr>
	<tr>
		<th><label for=""burnaddress">Burnaddress</label></th>
		<td>{blockchain.burnaddress}</td>
	</tr>
	<tr>
		<th><label for="blocks">Blocks</label></th>
		<td>{blockchain.blocks}</td>
	</tr>
	<tr>
		<th><label for="connections">Connections</label></th>
		<td>{blockchain.connections}</td>
	</tr>
	<tr>
		<th><label for="proxy">Proxy</label></th>
		<td>{blockchain.proxy}</td>
	</tr>
	<tr>
		<th><label for="difficulty">Difficulty</label></th>
		<td>{blockchain.difficulty}</td>
	</tr>
	<tr>
		<th><label for="paytxfee">Paytxfee</label></th>
		<td>{blockchain.paytxfee}</td>
	</tr>
	<tr>
		<th><label for="relayfee">Relayfee</label></th>
		<td>{blockchain.relayfee}</td>
	</tr>
	<tr>
		<th><label for="errors">Errors</label></th>
		<td>{blockchain.errors}</td>
	</tr>	
</table>