<f:layout name="Default" />
Rev. 145
<f:section name="main">
<f:if condition="{project}">
	<f:render partial="Project/Menu" arguments="{project : project}" />
</f:if>
<h3>Funding</h3>
<h4>VTC Address: {project.walletAddress}</h4>
<h4>VTC Balance: {amount.0.qty}</h4>
<hr />
<f:form action="fund" name="wallet" class="tx-bcvoting">
	Amount VTC: <f:form.textfield name="amount" size="3" placeholder="100" /> = BTC: <f:form.textfield name="btc" size="8" disabled="1" value="{btc->f:format.number(decimals: 8, decimalSeparator: ',', thousandsSeparator: '.')}" /> <br /> 
	Choose the amount of VTC you wish to deposit<br /> 1 VTC = {priceEuro} € = <f:format.number decimals="8" decimalSeparator="," thousandsSeparator=".">{priceBtc}</f:format.number> BTC (1 BTC = <f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{euroBtc}</f:format.number> €)<br />
	
	<f:form.submit value="Fund with BTC" />
</f:form>
<hr />
<h5>BTC-Link</h5>
Amount BTC: <f:format.number decimals="8" decimalSeparator="," thousandsSeparator=".">{btc}</f:format.number><br />
XTC Deposit Address: XxXXXXXXXXXXXX<br />
[Grafik]<br />
[copy]
</f:section>