<f:layout name="Default" />
Rev. 148
<f:section name="main">


<f:flashMessages  />

<h3>Import Paper Wallet</h3>

<f:form action="importPrivKey" name="assignment" arguments="{user:user}" >
<f:form.select name="assignment" options="{assignments}" optionLabelField="project.name" prependOptionLabel="Please choose assignment:" value="{assignment}" /><br />
<hr />
<label for="walletAddress">Address:</label><br />
<f:form.textfield name="address" size="32" /><br />
<label for="privkey">Private Key:</label><br />
<f:form.textarea name="key" rows="5" cols="40" /><br />
<f:form.submit value="Import" />
</f:form>
</f:section>