<!-- Rev. 116 -->
	<dt>
		<label for="tx-srfeuserregister-pi1-username">
			<f:translate key="tx_bcvoting_domain_model_user.username" /> 
			<span class="required">(required)</span>
		</label>
	</dt>

	<dd><f:form.textfield property="username" /></dd>
	
	<dt>
		<label for="email">
			<f:translate key="tx_bcvoting_domain_model_user.email" /> 
			<span class="required">(required)</span>
		</label>
	</dt>
	<dd>
		<f:form.textfield property="emailAddress" size="50" /><br />
	</dd>
	
	<dt>
		<label for="tx-srfeuserregister-pi1-password">
			<f:translate key="tx_bcvoting_domain_model_user.password" /> 
			<span class="required">(required)</span>
		</label>
	</dt>
<div>
	<dd>
		<f:form.password size="10" property="password" class="tx-srfeuserregister-pi1-password" />
	</dd>

	<dt>
		<label for="tx-srfeuserregister-pi1-password_again" class="tx-srfeuserregister-pi1-password-again">
			<f:translate key="tx_bcvoting_domain_model_user.password_again" />
			<span class="required">(required)</span>
		</label>
	</dt>
	<dd>
		<f:form.password size="10" maxlength="30" title="" property="password2" value="" class="tx-srfeuserregister-pi1-password" />
	</dd>
</div>