<!-- Rev. 113 -->

{user.username}<br />

<table>
	<tr>
		<th>Project</th>
		<th>Wallet Address</th>
	</tr>
	<tr>
		<td>{assignments.project.name}</td>
		<td>
		<f:if condition="{assignments.walletAddress}">
		<f:then>
			{assignments.walletAddress}<br />
			
			<f:link.action action="sendAssets" extensionName="BcVoting" pluginName="Project" controller="User" arguments="{project:project,toAddress:assignments.walletAddress}">[SendAssets]</f:link.action>
		</f:then>
		<f:else>
			<f:link.action action="getNewAddress" extensionName="BcVoting" pluginName="Project" controller="User" arguments="{project:project}">[Get new address]</f:link.action>
		</f:else>
		</f:if>
		</td>
	</tr>
</table>
<h4>Assets</h4>

<table border="1" style="border-spacing: 0; border-collapse: collapse;">
	<f:for each="{assets.total}" as="asset">
		
		<tr>
			<td style="padding: 5px;">
			<f:if condition="{asset.name} != ''">
			<f:then>
				{asset.name}
			</f:then>
			<f:else>
				<b>VTC</b>
			</f:else>
			</f:if>
			</td>
			<td>{asset.assetref}</td>
			<td>{asset.qty}</td>
		</tr>
		
	</f:for>
</table>
<hr />

<h4>Transactions</h4>
<table style="border-spacing: 0; border-collapse: collapse;">
	<f:for each="{transactions}" as="transaction" iteration="iterator" reverse="0">
	<f:if condition="{iterator.index} < 10">
	<f:then>
	<tr>
		<td style="padding: 5px;"><a href="http://www.blockchain-voting.org:9333/BVS/tx/{transaction.txid}">{transaction.txid}</a></td>
	</tr>
	</f:then>
	</f:if>
	</f:for>
</table>
