<!-- Rev. 138 -->
<f:if condition="{admin}== 'true'">
	<f:link.action action="new" controller="Option" arguments="{ballot : ballot}">+ Create new option</f:link.action>
</f:if>

<table style="">

	<f:for each="{ballot.options}" as="option"> 
	
		<f:cycle values="{0: '#fff', 1: '#fff'}" as="color">
		<tr class="options" style="background-color: {color}">
			<td class="left">
			<f:if condition="{option.logo} != 0">
				<f:image image="{option.logo}" alt="{ballot.logo.originalResource.title}" style="width: max-height: 50px; max-width: 100%; height: auto;" /><br />
			</f:if>
				<b>{option.name}</b><br />
				{option.description}<br />&nbsp;<br />
				<table>
					<tr>
						<td width="20%">a) Option Code:</td><td><f:form.textfield style="margin: 0 0px;" name="oaddress" value="{option.walletAddress}" size="40" disabled="1" /></td>
					</tr>
					<tr>
						<td>b) Random Code:</td><td><f:form.textfield style="margin: 0 0px;" property="optionCode[{option}]" value="{option.optionCode}" size="10" disabled="1" /></td>
					</tr>
					<tr>
						<td>c) Hash_SHA256(a+b):</td><td><f:form.textfield style="margin: 0 0px;" name="hash[]" value="{option.optionHash}" size="60" disabled="1" /></td>
					</tr>
				</table>
				
			</td>
			<td class="right">
				<f:if condition="{isAssigned} == 'true'">
				<f:then>
					<f:form.radio name="option" value="{option}" style="background: transparent; vertical-align: center;" />
				</f:then>
				<f:else>
					<a href="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=bitcoin:{option.walletAddress}?amount=1"><img style="max-width:100%; height: auto;" src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=bitcoin:{option.walletAddress}?amount=1" width="150" height="150" title="{option.walletAddress}" /></a>
				</f:else>
				</f:if>
				
			</td>
		</tr>
		<f:if condition="{admin}== 'true'">
		<tr style="background-color: {color}">
			<td colspan="2">
				<f:link.action action="edit" controller="Option" arguments="{option : option}">Edit</f:link.action> | <f:link.action action="delete" controller="Option" arguments="{option : option}">Delete</f:link.action> 
			</td>
		</tr>
		</f:if>
		</f:cycle>
	</f:for>
</table>
